@import "../../mixins";

.jobs {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}
.add-button{
  color: #009dff;
  border-color: #009dff;
}
.back-button{
  border-color: #d200e1;
  margin-right: 5px;
}
.save-button{
  border-color: #009dff;
  margin-left: 5px;
}
.add-job {
  width: 500px;
  max-width: 100%;
  @include d-flex(column, flex-start, center);
  gap: 1rem;

  * {
    color: var(--text-color1);
  }
}
